@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(".woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(".woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(".woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(".woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  color: #000000;
  background: #F2F2F2;
  font-size: 22px;
  line-height: 26px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
}

li {
  list-style-type: none;
}

/*.visually-hidden{
  visibility: hidden;
}*/

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

/*Navigation in header*/
.header-navigation {
  display: flex;
  justify-content: space-between;
  height: 64px;

}

.header-navigation-left {
  display: flex;
  padding-left: 70px;
}

.logo-img {
  position: relative;
}

.header-navigation-right {
  display: flex;
  align-items: center;
  padding-right: 70px;
}

.navigetion-list-right {
  display: flex;
  align-items: center;
  width: 268px;
  margin: 0;
  padding: 0;
}

.navigation-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 64px;

}

.navigation-item-right-favorit {
  padding-right: 20px;
}

.navigetion-list {
  display: flex;
  gap: 32px;
}

.navigation-link {
  margin: 0;
  display: block;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
}

.button-brown-navigation-link {
  width: 160px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  color: #FFFFFF;
  text-decoration: none;
  border: medium none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-transform: uppercase;


}

/*MAIN*/

.main-enter-part1 {
  background-image: url(../pictures/main-background.jpg);
  display: block;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
}


.pictures-welcom {
  padding: 52px 506px 0 506px;
  display: block;

}

.pictures-gorgeous {
  display: block;
  padding: 11px 472px 0 472px;
}

.pictures-sedona {
  display: block;
  padding: 54px 371px 0 371px;
}

.main-enter-part2 {
  display: flex;
  height: 282px;
  flex-direction: column;
  align-items: center;
}

.main-enter-text1 {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 69px;
}

.main-enter-text2 {
  margin: 0;
  padding-top: 25px;
  Font-size: 22px;
  Line-height: 26px;
  font-weight: 400;
  color: #333333;
}

/*ADVANTAGES*/

.advantges-header {
  width: 400px;
  height: 384px;
  background-color: #82B3D3;

}

.test1 {
  background-color: #82B3D3;
  text-align: center;
}

.test2 {
  display: flex;
}

.advatages-title-white {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  padding-top: 92px;
  margin: 0;
  text-transform: uppercase
}

.advatages-titel {
  font-style: normal;
  margin: 0;
  padding-top: 103px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advatages-description {
  margin: 0;
  padding-top: 62px;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px
}

.advantges-item {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantges-item li:nth-child(2) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-wrapper {
  width: 400px;
  min-height: 384px;
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
  margin: 0;

}

/*ADVANTAGES FOOTER*/
.advantges-footer {
  display: flex;
}

.advatages-footer-wrapper {
  color: #F2F2F2;
  width: 400px;
  height: 384px;
  background: #82B3D3;
  text-align: center;
}

.advatages-description-white {
  margin: 0;
  padding-top: 62px;
  color: #FFFFFF;
  font-size: 18px;
}

/*ADVATAGES RECOMENDS*/
.recamendations-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.recamendations-list > li {
  width: 400px;
  min-height: 384px;
  text-align: center;
  background: rgba(131, 179, 211, 0.12);
}

.recamendations-list li:nth-child(2) {
  background: none;
}

.recamendations-list img {
  padding-top: 80px;
  display: block;
  padding-left: 162.5px;
}

.recamendations-list h3 {
  padding-top: 30px;
}

.recamendations-list p {
  padding-top: 30px;
}

/*HOTEL SEARCH*/
.hotel-search {
  height: 406px;
  text-align: center;
}

.header-search {
  padding-top: 96px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.paragraph-search {
  padding-top: 20px;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333
}

.button-hotel-search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  margin: 54px auto 0;
  width: 376px;
  height: 52px;
  background: #756157;
  border-radius: 4px;
}

.subscribe {
  margin: 0;
  text-align: center;
  background-image: url(../pictures/bacgroung_subscribe.jpg);
  width: 1200px;
  height: 414.86px;

}

.subscribe-header {
  margin: 0;
  padding-top: 96px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}

.subscribe-paragrahp {
  padding-top: 20px;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;

}

.subscribe-form {
  padding-top: 54px;
}

.subscrib-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  text-transform: uppercase;
  border: 0;
}

h2 {
  margin: 0;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
  margin: 0;

}

.footer-social-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social-list li {
  width: 47.33px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

/* CATALOG */
.main-header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1060px;
  height: 107px;
  margin: 0 auto;
}

.filter-titel {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.main-header {
  padding-top: 35px;
  background-image: url(../pictures/backgroung_filter_catalog.jpg);
  color: #FFFFFF;
  height: 412px;
  background-size: cover;
  background-repeat: no-repeat;
}

.bread-crumbs {
  display: flex;
  justify-content: space-between;
  width: 114px;
  height: 21px;
  margin: 0;
  padding-left: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

}

.main-header-filter {
  padding-top: 40px;
}

.main-filter-form {
  display: flex;
  justify-content: space-between;

}

.header-filter-left {
  display: flex;
  padding-left: 70px;
}

.header-filter-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}

.filter-left-infra2 {
  padding-left: 70px;
}

.filter-left-list {
  margin: 0;
  padding-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

}

.header-filter-right {
  display: flex;
  margin-right: 70px;
}

.cost-mix {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.filter-right-infra2 {
  margin-top: 56px;
  width: 191px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttom-filter-submit {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: medium none;

}

.buttom-filter-rest {
  width: 191px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: medium none;
  background: transparent;
}
.search-results{
  margin: 0 auto;
}
.search-results-catalog {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 40px;
}

.product {
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-img {
  display: block;
  margin: 20px auto 0;
}

.sersch-results-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.sorting-inner-fitler {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-text {
  margin: 16px 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.product-info p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 16px 20px;
}

.product-stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.product-rating {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.reting {
  margin: 0;
}

.product-button {
  color: #FFFFFF;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  width: 140px;
  height: 36px;

}

.button-brown {
  background: #756157;
}

.button-blue {
  background: #82B3D3;
}

.button-green-favorits {
  background: #7DB54F;
}

.sorting-wrapeer {
  margin: 50px auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.line-decor{
  margin: 0 auto;
  width: 1060px;
}
.pagination {

}

.reting {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  text-transform: uppercase;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-list {
  margin-top: 40px;
  margin-left: 70px;
  margin-bottom: 60px;
  padding: 0;
  display: flex;
  gap: 8px;
}

.soting-inner-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination-list > li {
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pagination-link-first {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-list > li:nth-child(1) {
  background-color: #F2F2F2;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-list > li:nth-child(5) {
  background-color: #F2F2F2;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pagination-link-decor {
  color: #000000;
  ;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.subscribe-not-fone {
  margin: 0;
  text-align: center;
  width: 1200px;
  min-height: 414.86px;
}

.subscribe-header-not-fone {
  margin: 0;
  padding-top: 96px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px
}

.subscribe-paragrahp-not-fone {
  padding-top: 20px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
